body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/premium-photo/blue-pink-purple-abstract-wallpaper-vivid-light-glow-elements-modern-minimalist-digital-wallpaper_657790-27532.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  background: white;
  width: 450px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(82, 83, 85, 0.2);
  text-align: center;
}

.quiz-container h1 {
  margin-bottom: 10px;
}

#timer {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #554f4f;
}

.question-box {
  text-align: left;
  font-size: 18px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin: 10px 0;
  background: #f4f4f4;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

li:hover {
  background: #e8e8e8;
}

input[type="radio"] {
  margin-right: 10px;
}

#nextBtn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

#nextBtn:hover {
  background: #1a5bcc;
}

#result {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #1a3092;
}
