*{
      font-family: "Roboto", sans-serif;
}
body {
  background-color: #F5D3C4;
}
.card img {
  height: 250px;
  object-fit: contain;
}
.card {
  height: 500px;
  width: 350px;
}
.card-text {
  overflow-y: hidden;
}
.navbar {
  background-color: #B77466;
}
.navbar-brand {
  color: #fce4ec;
  font-weight: bold;
  font-size: 42px;
  font-family: "Monsieur La Doulaise", cursive;
}
.navbar-brand:hover{
  color: #fce4ec;
  transform: scale(1.1);
  transition: 1s;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.card-title, .price{
 color: #B77466;
}
.card-text{
    color: #662222;
;
}
.card-img-top{
    border-bottom: 1px solid #FDE7B3 ;
}
.btn-outline-success{
    color:#fce4ec ; 
    border: 1px solid #566166ea !important;
    background-color: #566166ea;
}
.btn-outline-success:hover{
    border: 1px solid #566166ea !important;
    background-color: #566166ea;
}
.form-select{
    width: 250px;
}

.allBtn{
position: absolute; 
bottom: 200px;
}